# Dipendenze e file di build
/node_modules
/cache
/artifacts

# File di ambiente
.env

# Log e report
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
coverage.json

# File del sistema operativo
.DS_Store
Thumbs.db
